@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    @apply w-full h-28 lg:h-32 xl:h-36 bg-header_color shadow-lg flex justify-between;
}

.nav-item {
    @apply py-2 px-4 lg:text-lg xl:px-8 cursor-pointer;
}